$website-width: 1280px;
$main-color: #dc57f3;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ef6f1a;
$bg-image: url('../img/homepage/showcase.jpg'); //Set Text Color

@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}