@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

//Logo 
img {
  width: 100%;
}


#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

//Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
    list-style: none;
    margin-right: 1.5rem;
  }

  li {
    padding: 1rem 1rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color
    }
  }
}


#header {
  &-home {
    background: $bg-image no-repeat center center/ cover;
    height: 100vh;
    color: #fff;

    //Header Content
    a {
      text-decoration: none;
    }


    .header-content {
      text-align: center;
      padding-top: 10%;
    }

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }

  }

  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 6rem;
    border-bottom: 3px solid $medium-color;
  }
}

#home {

  //Home Section B
  &-b {
    ul {
      list-style: none;
    }

    li {
      line-height: 2;

      &.stats-title {
        font-size: 1.5rem;
      }

      &.stats-number {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .col-md-3:nth-child(odd) {
      background: $main-color;
    }

    .col-md-3:nth-child(even) {
      background: $medium-color;
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      //Process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 0.5s;
        box-sizing: content-box !important;
      }

      //Process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 0.5s;
        box-sizing: content-box;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }

      }
    }
  }
}


#about {
  &-a {

    //About A
    .bio {
      border-left: 3px solid $medium-color;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $medium-color;
      margin: 1rem;
    }
  }

  //About B
  &-b {

    h2,
    h3,
    h4 {
      color: white;
    }

    /* .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    } */
  }

  //About C
  &-c {
    img {
      width: 70%;
    }
  }

  &-d {
    ul {
      list-style: none;
      margin-top: 1rem;
      display: flex;
      align-items: center;
    }

    p {

      padding: 0.5rem;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0.5rem;
    }
  }
}









//Footer



#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      box-sizing: content-box;
      transition: all 0.2s;

      &:hover {
        background-color: $main-color;
      }
    }
  }
}